/*------ 16_settings_personal-info start------*/
.form-search.form-search-small {
    padding-top: 60px;
    padding-bottom: 70px;
}
.form-search.form-search-small .title {
    margin-bottom: 25px;
}
.form-personal-information {
    margin-bottom: 152px;
}
.form-personal-information .personal-information-nav.col-3{
    max-width: 270px;
    margin-right: 15px;
}
.personal-information-nav ul {
    margin-left: -15px;
    margin-right: -15px;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    background-color: #fff;
}
.personal-information-nav ul li {
    font-size: 14px;
    color: #707070;
    font-weight: 400;
    height: 50px;
    padding-left: 50px;
    position: relative;
    line-height: 50px;
    border-bottom: 1px solid #dedede;
}
.personal-information-nav ul li:first-child {
    border-top: 1px solid #dedede;
}
.personal-information-nav ul li:before {
    content: "\f054";
    font: normal normal normal 9px/1 FontAwesome;
    color: #707070;
    position: absolute;
    left: 22px;
    top: 20px;
}
.personal-information-nav li:hover{
    border-bottom: 3px solid #8bc34a;
    color: #37474f;
    line-height: 48px;
}
.personal-information-nav li:hover:before {
    content: "\f054";
    font: normal normal normal 9px/1 FontAwesome;
    color: #8bc34a;
    position: absolute;
    left: 22px;
    top: 20px;
}
.form-personal-information .btn-custom {
    padding: 15px 30px;
    margin-left: 255px;
}
/*------ 16_settings_personal-info end------*/