
/*-----cards start------*/
.cards-example  {
    margin: 0 15px;
}
.cards-example .row + .row {
    margin-top: 30px;
}
.card {
    border-radius:0;
    border-color: #d9e0e3;
    box-shadow: 0px 2px 3px rgba(216, 216, 216,0.75);
    background-color: #fff;
}
.card.large-card:hover, .card.medium-card:hover, .card.row-card:hover {
    box-shadow: 0px 16px 20px rgba(216, 216, 216,0.75);
}
/*---large card start---*/
.card .card-img img {
    height: 100%;
    max-width: 100%;
}
.card.large-card .card-img {
    position: relative;
    overflow: hidden;
    border-radius:0;
}
.large-card .card-img .label-trending {
    position: absolute;
    width: 64px;
    height: 64px;
    background-color:#8bc34a;
    top:-32px;
    left:-32px;
    transform:rotate(45deg);
}
.large-card .card-img .label-trending .fa {
    color:#ffffff;
    position: absolute;
    left:46px;
    top:24px;
    transform:rotate(-45deg);
    font-size: 18px;
}
.card .aside-card {
    border-bottom: 1px solid #d9e0e3;
}
.card .card-item-title, .card .card-price {
    font-family: 'Roboto', sans-serif;
    color: #263238;
    text-transform: capitalize;
}
.card .card-item-title {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 500;
    text-transform: capitalize;
}
.card .item-category {
    font:  500 14px 'Roboto', sans-serif;
    color: #8bc34a;
    text-transform: capitalize;
}
.card .card-price {
    font-size: 20px;
    font-weight: 700;
}
.card.large-card .card-info {
    padding: 25px 30px 18px;
}
.card.large-card .card-author {
    padding: 20px 30px;
}
.list-inline-item:not(:last-child) {
    margin-right: 0;
}
.card .card-author {
    border-top: 1px solid #d9e0e3;
}
.card .card-author .author-name {
    font: 500 14px 'Roboto', sans-serif;
    color: #546e7a;
    padding-left: 12px;
}
.card .card-author .card-product-rating {
    color: #ffa726;
    font-size: 12px;
}
.card .rating-count, .card .count   {
    padding-left: 10px;
    font: 500 12px 'Roboto', sans-serif;
    color: #263238;
    position: relative;
    display: inline-block;
}
.card span.rating-count::before, .card span.count::before  {
    content:"(";
    color: #b0bec5;
}
.card span.rating-count::after, .card span.count::after{
    content:")";
    color: #b0bec5;

/*---large card end---*/
}
/*---medium-card start*/
.card.medium-card .card-item-title {
    font-size: 16px;
    margin-bottom: 12px;
}
.card.medium-card .card-info {
    padding: 27px 20px;
}
.card.medium-card .card-author {
    padding: 15px 20px;
}
.card .medium-card.card-author .rating-count {
    padding-left: 10px;
    font: 500 12px 'Roboto', sans-serif;
    color: #263238;
    position: relative;
    display: inline-block;
}
/*---medium-card end*/

/*---aside-card start*/
.aside-section .card.aside-card {
    border:none;
}
.card.aside-card {
    margin-bottom: 27px;
    position: relative;
    box-shadow: none;
}
.card.aside-card .card-item-title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
}
.card.aside-card .card-info {
    padding: 20px 0;
    line-height: 1.5em;
    border: none;
}
.card.aside-card  .card-author {
    border: none;
}
.card.aside-card .card-author {
    padding: 0 0 30px 0;
    border-bottom: 1px solid #d9e0e3;
}
.card.aside-card:last-of-type .card-author {
    border-bottom: none;
}
.card .aside-card.card-author .rating-count {
    padding-left: 10px;
    font: 500 12px 'Roboto', sans-serif;
    color: #263238;
    position: relative;
    display: inline-block;
}
.card.aside-card .card-info {
    border-bottom: none;
}
.card.aside-card .card-price {
    font-size: 16px;
}
/*---aside-card end*/

/*---row-card start---*/
.card .count {
    display: none;
}
.card .icon-rating, .card .sale {
    display: none;
}
.card.medium-card .card-text-info {
    display:none;
}
.card.row-card {
    display: flex;
    margin-bottom: 30px;
    border: none;
    flex-direction: row;
}
.card.row-card .card-img {
    flex: 3;
    position: relative;
}
.card.row-card .card-img img{
    display: block;
    height: 100%;
}
.card.row-card .card-text-info {
    display:flex;
}
.card.row-card .count {
    display: block;
}
.card.row-card .icon-rating, .card.row-card .sale {
    display: block;
}
.card.row-card .card-info {
    padding: 25px 30px 0 30px;
}
.card.row-card .card-description {
    flex: 8;
    background: #ffffff;
}
.card.row-card .card-item-title {
    font-size: 16px;
    margin-bottom: 10px;
}
.card.row-card .card-text-info .sale {
    display: inline-block;
    font:  400 13px 'Roboto', sans-serif;
    color:#aeb4bb;
    padding-right: 30px;
}
.card .card-text-info p{
    font:  400 14px 'Roboto', sans-serif;
    color: #70838d;
    padding: 17px 30px;
}
.card.row-card .price-sale span {
    display: block;
}
.card.row-card .card-price {
    font-size: 30px;
    font-weight: 700;
}
.card.row-card .card-author span i{
    border-left: 1px solid #000;
    padding-left:18px;
    font-size: 16px;
    color: #8bc34a;
    margin-left: 30px;
}
.card.row-card .card-author {
    padding: 15px 20px;
}
span.icon-rating{
    padding-right: 10px;
}
/*---row-card end---*/
/*---main-card start---*/
.card.main-card .card-description {
    background-color: #f8f8f8;
}
.card.main-card .card-info {
    padding: 40px 0;
}
.card.main-card {
    border: none;
    box-shadow: none;
}
.card.main-card .card-item-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}
/*---main-card end---*/
/*---row-small-card start---*/
.card.row-small-card {
    border:none;
}
.card.row-small-card .card-item-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}
.card.row-small-card .card-img {
    flex: 5;
}
.card.row-small-card .card-description {
    flex-direction: column;
    padding: 20px 0px 8px 15px;
    flex: 8;
}
.card.row-small-card .item-category {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}
.card.row-small-card .card-price {
    font-size: 18px;
    font-weight: 700;
}
/*---row-small-card end---*/
/*-----cards end------*/