.cards-example  {
   padding-top: 30px; /* удалить - это чтобы не прилипало*/
}
/*-----cards start------*/
.cards-example  {
    margin: 0 15px;
}
.cards-example .row + .row {
    margin-top: 30px;
}
.card {
    border-radius:0;
    border-color: #d9e0e3;
}
.card:hover {
    box-shadow: 0px 16px 20px rgba(216, 216, 216,0.75);
}

/*---large card start---*/

.large-card .card-img img {
    width: 100%;
}
.large-card .card-img {
    position: relative;
    overflow: hidden;
    border-radius:0;
}
.large-card .card-img .label-trending {
    position: absolute;
    width: 64px;
    height: 64px;
    background-color:#8bc34a;
    top:-32px;
    left:-32px;
    transform:rotate(45deg);
}
.large-card .card-img .label-trending .fa {
    color:#ffffff;
    position: absolute;
    left:46px;
    top:24px;
    transform:rotate(-45deg);
    font-size: 18px;
}
.large-card .card-info {
    border-bottom: 1px solid #d9e0e3;
}
.large-card .card-item-title, .card .card-price {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #263238;
}
.large-card .card-item-title {
    font-size: 18px;
    margin-bottom: 12px;
}
.large-card .card-item-category {
    font:  400 14px 'Roboto', sans-serif;
    color: #8bc34a;
}
.large-card .card-price {
     font-size: 20px;
}
.card.large-card .card-info {
    padding: 25px 30px 18px;
}
.card.large-card .card-author {
    padding: 20px 30px;
}
.list-inline-item:not(:last-child) {
    margin-right: 0;
}
.large-card .card-author .author-name {
    font: 500 14px 'Roboto', sans-serif;
    color: #546e7a;
    padding-left: 12px;
}
.large-card .card-author .card-product-rating {
    color: #ffa726;
    font-size: 12px;
}
.large-card .card-author .rating-count {
    padding-left: 15px;
    font: 500 12px 'Roboto', sans-serif;
    color: #263238;
}
.large-card span.rating-count::before {
    content:"( ";
    color: #b0bec5;
}
.large-card span.rating-count::after {
    content:" )";
    color: #b0bec5;

/*---large card end---*/

}
/*-----cards end------*/
