/*====== DEFAULT COMPONENTS START ======*/
/*------ dropdown start ------*/
.dropdown *{
    padding: 0;
    margin: 0;
}
.dropdown .dropdown-toggle.toggle-circle{
    position: relative;
    display: block;
    width: 35px;
    line-height: 35px;
    background-color: #f5f5f5;
    border-radius: 50%;
    color: #a0a0a0;
}
.dropdown .dropdown-toggle.toggle-circle:hover, .dropdown .dropdown-toggle:focus {
    color: #263238;
}
.dropdown .dropdown-toggle::after{
    display: none;
}

.dropdown .dropdown-toggle.toggle-circle .counter{
    position: absolute;
    top: -7px;
    right: -5px;
    width: 18px;
    line-height: 18px;
    color: #fff;
    font-family:'Open Sans', sans-serif;
    font-size: 11px;
    background-color: #e74c3c;
    border-radius: 50%;
}
.dropdown .dropdown-menu{
   margin-top: 26px;
}
.dropdown .dropdown-notifaction{
    min-width: 270px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 0;
}
.dropdown .dropdown-menu .dropdown-item{
    padding: 25px;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 0;
}
.dropdown .dropdown-item:focus, .dropdown-item:hover{
    background-color: inherit;
}
.dropdown .dropdown-menu .dropdown-item .item-content{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.dropdown .dropdown-menu .dropdown-item .item-content span{
     display: block;
 }
.dropdown .dropdown-menu .dropdown-item .item-content span+span{
    margin-top: 10px;
}
.dropdown .dropdown-menu .dropdown-item .item-content .item-title-product{
    font-size: 15px;
    color: #263238;
}
.dropdown .dropdown-menu .dropdown-item .item-content .item-title-company{
    font-size: 12px;
    color: #263238;
    font-weight: 600;
}
.dropdown .dropdown-menu .dropdown-item .item-content .item-data{
    font-size: 10px;
    color: #90a4ae;
}

.dropdown .dropdown-menu .dropdown-item .item-content .item-price{
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.dropdown .dropdown-menu .dropdown-item .item-follow:hover{
    color: #ef6c00;
}

.dropdown .dropdown-menu .total{
    padding: 20px;
}
.dropdown .dropdown-menu .total{
    font-size: 16px;
    color: #263238;
    line-height: 1.5em;
}
.dropdown .dropdown-menu .go-chekout{
    padding: 0 17px 12px;
}
/*------ dropdown end ------*/
/*------ header start ------*/
/*--- header-top-main ---*/
header .header-top{
    padding: 25px 0;
}
header .header-top .need-help{
    margin-right: 50px;
}
header .header-top .need-help>span>span{
    color: #e74c3c;
}
/*--- header-top-all-pages ---*/
header .header-top .dropdown-account{
    margin-left: 25px;
}
header .header-top .header-top-dropdowns li{
    display: inline-block;
    margin-right: 15px;
}
header .header-top .header-top-dropdowns li:last-child{
    margin-right: 0;
}
header .header-top button{
    margin-left: 30px;
}
header .header-top button+button{
    margin-left: 7px;
}

/*--- header-bottom ---*/
header .header-bottom .header-bottom-nav ul{
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14em;
    color: #fff;
    padding: 15px 0;
    text-transform: capitalize;
}
header .header-bottom .header-bottom-nav ul li{
    display: inline-block;
    margin-right: 35px;
}
header .header-bottom .header-bottom-nav ul li:last-child{
    margin-right:0;
}

/*------ header end ------*/

/*====== DEFAULT COMPONENTS END ======*/
