/*------ carousel start ------*/
.carousel .trending-carousel .slick-slide{
    padding: 0 15px;
}
.carousel .trending-carousel .slick-dots{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -70px;
}
.carousel .trending-carousel .slick-dots li{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #e8e8e8;
    border: 1px solid #bcbcbc;
    border-radius: 50%;
    cursor: pointer;
}
.carousel .trending-carousel .slick-dots li button{
    display: none;
}
.carousel .trending-carousel .slick-dots li+li{
    margin-left: 7px;
}
.carousel .trending-carousel .slick-dots li.slick-active{
    background-color: #8bc34a;
    border-color: #8bc34a;
}
/*------ carousel end ------*/