/*====== RESET START ======*/
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
    font:  400 15px/1 'Roboto', sans-serif;
    color:#777;
    margin: 0;
    background-color: #f4f6f5;

}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
}
p{
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
    color: inherit;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
button,button:hover,
button:focus, input,
textarea {
    outline: none;
    border: none;
}
button{
    padding: 0;
}

textarea{
    resize: vertical;
}
button,
input[type='submit']{
    cursor: pointer;
}
blockquote{
    margin: 0;
}
/*====== RESET END ======*/
.icon {
    display: inline-block;
}