/*====== RESET START ======*/
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
    font:  400 15px/1 'Roboto', sans-serif;
    color:#777;
    margin: 0;
    background-color: #f4f6f5;

}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
}
p{
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
    color: inherit;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
button,button:hover,
button:focus, input,
textarea {
    outline: none;
    border: none;
}
button{
    padding: 0;
}

textarea{
    resize: vertical;
}
button,
input[type='submit']{
    cursor: pointer;
}
blockquote{
    margin: 0;
}
/*====== RESET END ======*/


.sort-controls {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    margin-bottom: 30px;
}
.sort-controls button {
    background-color: #fff;
}
.sort-controls span {
    margin-left: 10px;
}
.sort-controls .fa {
    background-color: #fff;
    margin-left: 10px;
}
.sort-controls button:active {
    color: #8bc34a;
    font-size: 16px;
}

/*-----aside start-----*/
.aside-section {
    background-color: #ffffff;
    border: 1px solid #dedede;
    padding: 27px 27px 30px 27px;
    margin-bottom: 30px;
}
.aside-section .aside-section-title {
    border-bottom: 1px solid #dde3e8;
    font: 700 20px 'Roboto', sans-serif;
    color: #263238;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.aside-section .aside-section-title span {
    display: inline-block;
    padding-bottom: 20px;
}
/*-----aside start-----*/

<<<<<<< HEAD
ul.breadcrumb {
    padding: 48px 0 42px;
    list-style: none;
    background-color: #f4f6f5;
=======
/*---breadcrumb start---*/
ul.breadcrumb {
    padding: 48px 0 42px;
    list-style: none;
    background-color: inherit;
    margin-bottom: 0;
>>>>>>> branch_lera
}
ul.breadcrumb li {
    display: inline;
    font:  400 15px/1 'Roboto', sans-serif;
}
ul.breadcrumb li+li:before {
    padding: 10px;
    color: #8bc34a;
    content: "-";
}
ul.breadcrumb li a {
    color: #b0bec5;
    text-decoration: none;
}
ul.breadcrumb li.active {
    color: #263238;
}
<<<<<<< HEAD


=======
/*---breadcrumb end---*/


/*====== DEFAULT COMPONENTS START ======*/
>>>>>>> branch_lera
.btn-title {
    text-transform: uppercase;
    font-weight: 700;
}
.btn-section {
    padding: 40px 0;
}
.btn-custom {
    display: inline-block;
    background-color: #fff;
    color: #263238;
    padding: 20px 33px;
    font:  400 16px/1 'Roboto', sans-serif;
    -webkit-box-shadow: 0 2px 2px rgb(232,236,238), 0 0 2px rgb(232,236,238);
            box-shadow: 0 2px 2px rgb(232,236,238), 0 0 2px rgb(232,236,238);
}
.btn-custom:hover {
    background-color: #f1f1f1;
}
.btn-custom.btn-rounded {
    border-radius: 4px;
}
.btn-custom.btn-small {
    padding: 10px 21px;
    font-size: 12px;
}
.btn-custom.btn-medium {
    padding: 12px;
    font-size: 14px;
}
.btn-custom.btn-large {
    padding: 26px 43px;
    font-size: 18px;
}
.btn-custom.btn-red {
    background-color: #e74c3c;
    color: #f4f6f5;
}
.btn-custom.btn-red:hover {
    background-color: #c84638;
}
.btn-custom.btn-blue {
    background-color: #455a64;
    color: #f4f6f5;
}
.btn-custom.btn-blue:hover {
    background-color: #324148;
}
.btn-custom.btn-green {
    background-color: #8bc34a;
    color: #f4f6f5;
}
.btn-custom.btn-green:hover {
    background-color: #6c973a;
}


/*-----cards start------*/
.cards-example  {
    margin: 0 15px;
}
.cards-example .row + .row {
    margin-top: 30px;
}
.card {
    border-radius:0;
    border-color: #d9e0e3;
    -webkit-box-shadow: 0px 2px 3px rgba(216, 216, 216,0.75);
            box-shadow: 0px 2px 3px rgba(216, 216, 216,0.75);
    background-color: #fff;
}
.card.large-card:hover, .card.medium-card:hover, .card.row-card:hover {
    -webkit-box-shadow: 0px 16px 20px rgba(216, 216, 216,0.75);
            box-shadow: 0px 16px 20px rgba(216, 216, 216,0.75);
}
/*---large card start---*/
.card .card-img img {
    height: 100%;
    max-width: 100%;
}
.card.large-card .card-img {
    position: relative;
    overflow: hidden;
    border-radius:0;
}
.large-card .card-img .label-trending {
    position: absolute;
    width: 64px;
    height: 64px;
    background-color:#8bc34a;
    top:-32px;
    left:-32px;
    -webkit-transform:rotate(45deg);
            transform:rotate(45deg);
}
.large-card .card-img .label-trending .fa {
    color:#ffffff;
    position: absolute;
    left:46px;
    top:24px;
    -webkit-transform:rotate(-45deg);
            transform:rotate(-45deg);
    font-size: 18px;
}
.card .aside-card {
    border-bottom: 1px solid #d9e0e3;
}
.card .card-item-title, .card .card-price {
    font-family: 'Roboto', sans-serif;
    color: #263238;
    text-transform: capitalize;
}
.card .card-item-title {
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 500;
    text-transform: capitalize;
}
.card .item-category {
    font:  500 14px 'Roboto', sans-serif;
    color: #8bc34a;
    text-transform: capitalize;
}
.card .card-price {
    font-size: 20px;
    font-weight: 700;
}
.card.large-card .card-info {
    padding: 25px 30px 18px;
}
.card.large-card .card-author {
    padding: 20px 30px;
}
.list-inline-item:not(:last-child) {
    margin-right: 0;
}
.card .card-author {
    border-top: 1px solid #d9e0e3;
}
.card .card-author .author-name {
    font: 500 14px 'Roboto', sans-serif;
    color: #546e7a;
    padding-left: 12px;
}
.card .card-author .card-product-rating {
    color: #ffa726;
    font-size: 12px;
}
.card .rating-count, .card .count   {
    padding-left: 10px;
    font: 500 12px 'Roboto', sans-serif;
    color: #263238;
    position: relative;
    display: inline-block;
}
.card span.rating-count::before, .card span.count::before  {
    content:"(";
    color: #b0bec5;
}
.card span.rating-count::after, .card span.count::after{
    content:")";
    color: #b0bec5;

/*---large card end---*/
}
/*---medium-card start*/
.card.medium-card .card-item-title {
    font-size: 16px;
    margin-bottom: 12px;
}
.card.medium-card .card-info {
    padding: 27px 20px;
}
.card.medium-card .card-author {
    padding: 15px 20px;
}
.card .medium-card.card-author .rating-count {
    padding-left: 10px;
    font: 500 12px 'Roboto', sans-serif;
    color: #263238;
    position: relative;
    display: inline-block;
}
/*---medium-card end*/

/*---aside-card start*/
.aside-section .card.aside-card {
    border:none;
}
.card.aside-card {
    margin-bottom: 27px;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.card.aside-card .card-item-title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
}
.card.aside-card .card-info {
    padding: 20px 0;
    line-height: 1.5em;
    border: none;
}
.card.aside-card  .card-author {
    border: none;
}
.card.aside-card .card-author {
    padding: 0 0 30px 0;
    border-bottom: 1px solid #d9e0e3;
}
.card.aside-card:last-of-type .card-author {
    border-bottom: none;
}
.card .aside-card.card-author .rating-count {
    padding-left: 10px;
    font: 500 12px 'Roboto', sans-serif;
    color: #263238;
    position: relative;
    display: inline-block;
}
.card.aside-card .card-info {
    border-bottom: none;
}
.card.aside-card .card-price {
    font-size: 16px;
}
/*---aside-card end*/

/*---row-card start---*/
.card .count {
    display: none;
}
.card .icon-rating, .card .sale {
    display: none;
}
.card.medium-card .card-text-info {
    display:none;
}
.card.row-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    border: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.card.row-card .card-img {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    position: relative;
}
.card.row-card .card-img img{
    display: block;
    height: 100%;
}
.card.row-card .card-text-info {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}
.card.row-card .count {
    display: block;
}
.card.row-card .icon-rating, .card.row-card .sale {
    display: block;
}
.card.row-card .card-info {
    padding: 25px 30px 0 30px;
}
.card.row-card .card-description {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
    background: #ffffff;
}
.card.row-card .card-item-title {
    font-size: 16px;
    margin-bottom: 10px;
}
.card.row-card .card-text-info .sale {
    display: inline-block;
    font:  400 13px 'Roboto', sans-serif;
    color:#aeb4bb;
    padding-right: 30px;
}
.card .card-text-info p{
    font:  400 14px 'Roboto', sans-serif;
    color: #70838d;
    padding: 17px 30px;
}
.card.row-card .price-sale span {
    display: block;
}
.card.row-card .card-price {
    font-size: 30px;
    font-weight: 700;
}
.card.row-card .card-author span i{
    border-left: 1px solid #000;
    padding-left:18px;
    font-size: 16px;
    color: #8bc34a;
    margin-left: 30px;
}
.card.row-card .card-author {
    padding: 15px 20px;
}
span.icon-rating{
    padding-right: 10px;
}
/*---row-card end---*/
/*---main-card start---*/
.card.main-card .card-description {
    background-color: #f8f8f8;
}
.card.main-card .card-info {
    padding: 40px 0;
}
.card.main-card {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.card.main-card .card-item-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
}
/*---main-card end---*/
/*---row-small-card start---*/
.card.row-small-card {
    border:none;
}
.card.row-small-card .card-item-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}
.card.row-small-card .card-img {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
}
.card.row-small-card .card-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0px 8px 15px;
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
}
.card.row-small-card .item-category {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}
.card.row-small-card .card-price {
    font-size: 18px;
    font-weight: 700;
}
/*---row-small-card end---*/
/*-----cards end------*/
/*------ dropdown account start------*/
.dropdown-account {
    cursor: pointer;
}
.dropdown-account .line-toggle{
    margin-left: 15px;
}
.dropdown-account .ropdown-toggle img{
    width: 34px;
    widows: 34px;
}
.dropdown-account span{
    display: block;
}
.dropdown-account .user-name{
    font-weight: 500;
    font-size: 14px;
    color: #222222;
    line-height: 1.714em;
}
.dropdown-account .user-name>i{
    margin-left: 15px;
}
.dropdown .total-basket{
    font-weight: bold;
    font-size: 12px;
    color: #8bc34a;
}
.dropdown .dropdown-menu .list{
    padding: 15px 20px;
    border-radius: 0;
}
.dropdown .dropdown-menu .list .dropdown-item{
    padding: 0;
    border-bottom: 0;
}
.dropdown-item.list:first-child{
    padding-top: 15px;
}
/*------ dropdown account end------*/
/*------ dropdown sort-by start------*/
.dropdown.sort-by .dropdown-menu{
    margin-top: 0;
}
.dropdown.sort-by .dropdown-menu .dropdown-item{
    padding: 10px;
}

/*------ dropdown sort-by start------*/
/*------ footer start ------*/
footer .footer-title::after{
    content: "";
    display: block;
    height: 3px;
    width: 50px;
    background-color: #8bc34a;
}
footer .footer-title span{
    display: block;
    margin-bottom: 25px;
}
footer .default-text{
    margin-bottom: 30px;
}
footer .footer-item .item-icon{
    font-size: 18px;
    line-height: 1.33em;
    color: #8bc34a;
    margin-right: 25px;
}
footer .footer-item .item-content{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.714em;
    color: #fff;
}
footer .footer-item + .footer-item{
    margin-top: 20px;
}
footer .list{
    color: #b7c3c8;
    font-size: 15px;
    line-height: 2em;
    padding: 0;
}
footer .copy-right{
    padding: 15px 0 25px;
    border-top: 1px solid #424d53;
}

footer .copy-right.default-text{
    line-height: 2.4em;
}

/*------ footer end ------*/
/*------ form-search start ------*/
.container-fluid {
    padding: 0;
}
.form-search {
    background-color: #b1b2af;
    background-image: url('../img/form-search.jpg');
    background-repeat: repeat;
    background-position: 50% 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 150px;
    padding-bottom: 166px;
}
.input-group {
    margin: 0 auto;
}
.form-search .title.title-welcome {
    line-height: 1em;
    margin-bottom: 35px;
    font-size: 48px;
}
.form-search .title.title-premium {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 55px;
    line-height: 1em;
}
.form-search span {
    display: block;
}
.form-search .form-control{
    width: 671px;
    height: 56px;
    line-height: 56px;
    /*font:  400 14px/1 'Roboto', sans-serif;*/
    letter-spacing: .05em;
    color: #90a4ae;
    border-radius: 4px;
    border: none;
    -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, .75);
            box-shadow: 0 0 10px rgba(100, 100, 100, .75);
}
.form-search::-webkit-input-placeholder {color:#90a4ae;}
.form-search::-moz-placeholder          {color:#90a4ae;}/* Firefox 19+ */
.form-search:-moz-placeholder           {color:#90a4ae;}/* Firefox 18- */
.form-search:-ms-input-placeholder      {color:#90a4ae;}

.form-search .form-control:focus,
.form-search button:active{
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
}
.form-search button {
    height: 54px;
    width: 54px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 3;
}
.form-search .btn-default:active,
.form-search .btn-default:hover,
.form-search .btn-default:focus{
    background: none;
    outline: none;
}
.form-search button:before {
    content: "\f002";
    color: #90a4ae;
    font-size: 20px;
}
/*------ form-search end ------*/
/*------ form-personal-information start ------*/
.jq-selectbox {
    width: 100%;
}
.jq-selectbox__select {
    height: 40px;
    width: 540px;
    background: #f9f9f9;
    border-color: #dedede;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 40px 0 15px;
    line-height: 40px;
}

.jq-selectbox__select:hover {
    background: #f9f9f9;
}

.jq-selectbox__trigger {
    border-left: none;
    width: 40px;
}

.jq-selectbox__trigger-arrow {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-top-color: #000;
}
.form-group .col-form-label {
    color: #444;
    font:  400 15px/1 'Roboto', sans-serif;
    line-height: 31px;
    width: 280px;
}
@media (min-width: 576px){
    .col-form-label.col-sm-4 {
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
}}
.form-group .form-control {
    border-radius: 0;
    border-color: #dedede;
    height: 40px;
    width: 540px;
    background-color: #f9f9f9;
}

.form-group .form-control:focus{
    border-color: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.form-group select{
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.form-group .jq-selectbox.focused .jq-selectbox__select {
    border-radius: 0;
    border-color: inherit;
}
/*------ form-personal-information end ------*/
/*------ input-newsletter start ------*/
.input-newsletter{
    width: 260px;
}
.input-newsletter .btn.btn-default{
    background-color: #8bc34a;
}
.input-newsletter .fa {
    color: #fff;
    font-size: 18px;
    height: 38px;
    width: 43px;
    border-radius: 0;
}
.input-newsletter .form-control{
    background-color: #2f3c43;
    color: #697378;
    font:  400 14px/1 'Roboto', sans-serif;
    height: 38px;
}
.input-newsletter::-webkit-input-placeholder {color:#697378;}
.input-newsletter::-moz-placeholder          {color:#697378;}/* Firefox 19+ */
.input-newsletter:-moz-placeholder           {color:#697378;}/* Firefox 18- */
.input-newsletter:-ms-input-placeholder      {color:#697378;}

<<<<<<< HEAD

=======
.input-newsletter .btn.btn-default:active,
.input-newsletter .btn.btn-default:hover,
.input-newsletter .btn.btn-default:focus,
.input-newsletter .form-control:active,
.input-newsletter .form-control:hover,
.input-newsletter .form-control:focus{
    border: 0;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}
/*------ input-newsletter end ------*/
>>>>>>> branch_lera


/*====== DEFAULT COMPONENTS START ======*/
/*------ dropdown start ------*/
.dropdown *{
    padding: 0;
    margin: 0;
}
.dropdown .dropdown-toggle.toggle-circle{
    position: relative;
    display: block;
    width: 35px;
    line-height: 35px;
    background-color: #f5f5f5;
    border-radius: 50%;
    color: #a0a0a0;
}
.dropdown .dropdown-toggle.toggle-circle:hover, .dropdown .dropdown-toggle:focus {
    color: #263238;
}
.dropdown .dropdown-toggle::after{
    display: none;
}

.dropdown .dropdown-toggle.toggle-circle .counter{
    position: absolute;
    top: -7px;
    right: -5px;
    width: 18px;
    line-height: 18px;
    color: #fff;
    font-family:'Open Sans', sans-serif;
    font-size: 11px;
    border-radius: 50%;
}
.dropdown .dropdown-toggle.toggle-circle.dropdown-bell .counter{
    background-color: #fcb322;
}
.dropdown .dropdown-toggle.toggle-circle.dropdown-mail .counter{
    background-color: #ef6c00;
}

.dropdown .dropdown-toggle.toggle-circle.dropdown-basket .counter{
    background-color: #e74c3c;
}
.header-top-dropdowns .dropdown .dropdown-toggle.toggle-circle.dropdown-basket .counter{
    background-color: #95c85a;
}

.dropdown .dropdown-menu{
    margin-top: 26px;
}
.dropdown .dropdown-notifaction{
    min-width: 270px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 0;
}
.dropdown .dropdown-menu .dropdown-item{
    padding: 25px;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 0;
}
.dropdown .dropdown-item:focus, .dropdown-item:hover{
    background-color: inherit;
}
.dropdown .dropdown-menu .dropdown-item .item-content{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.dropdown .dropdown-menu .dropdown-item .item-content span{
     display: block;
 }
.dropdown .dropdown-menu .dropdown-item .item-content span+span{
    margin-top: 10px;
}
.dropdown .dropdown-menu .dropdown-item .item-content .item-title-product{
    font-size: 15px;
    color: #263238;
}
.dropdown .dropdown-menu .dropdown-item .item-content .item-title-company{
    font-size: 12px;
    color: #263238;
    font-weight: 600;
}
.dropdown .dropdown-menu .dropdown-item .item-content .item-data{
    font-size: 10px;
    color: #90a4ae;
}

.dropdown .dropdown-menu .dropdown-item .item-content .item-price{
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.dropdown .dropdown-menu .dropdown-item .item-follow:hover{
    color: #ef6c00;
}

.dropdown .dropdown-menu .total{
    padding: 20px;
}
.dropdown .dropdown-menu .total{
    font-size: 16px;
    color: #263238;
    line-height: 1.5em;
}
.dropdown .dropdown-menu .go-chekout{
    padding: 0 17px 12px;
}
/*------ dropdown end ------*/
/*------ header start ------*/
/*--- header-top-main ---*/
header .header-top{
    padding: 25px 0;
    position: relative;
}
header .header-top .need-help{
    margin-right: 50px;
}
header .header-top .need-help>span>span{
    color: #e74c3c;
}
/*--- header-top-all-pages ---*/
header .header-top .dropdown-account{
    margin-left: 25px;
}
header .header-top .header-top-dropdowns li{
    display: inline-block;
    margin-right: 15px;
}
header .header-top .header-top-dropdowns li:last-child{
    margin-right: 0;
}
header .header-top button{
    margin-left: 30px;
}
header .header-top button+button{
    margin-left: 7px;
}

/*--- header-bottom ---*/
header .header-bottom .header-bottom-nav ul{
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14em;
    color: #fff;
    padding: 15px 0;
    text-transform: capitalize;
}
header .header-bottom .header-bottom-nav ul li{
    display: inline-block;
    margin-right: 35px;
}
header .header-bottom .header-bottom-nav ul li:last-child{
    margin-right:0;
}

/*------ header end ------*/

/*====== DEFAULT COMPONENTS END ======*/

/*---loginModal start---*/
#loginModal .modal-dialog {
    max-width: 730px;
}

#loginModal .modal-content {
    background-color: #8bc34a;
    border-radius: 0;
    border: none;
    padding: 90px 30px 110px;
}

#loginModal .login-title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

#loginModal form[name="login-form"] {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.login-form-control::-webkit-input-placeholder {color:#fff;}
.login-form-control::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.login-form-control:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.login-form-control:-ms-input-placeholder      {color:#fff;}

#loginModal .login-form-control {
    background-color: #76ae36;
    height: 43px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    padding-left: 40px;
    width: 100%;
}

#loginModal .login-form-group {
    position: relative;
}

#loginModal .login-form-group input {
    border:none;
}

#loginModal .login-form-group + .login-form-group {
    margin-top: 8px;
}

#loginModal .login-form-group i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 18px;
    color: #fff;
}
#loginModal .modal-body {
    position: static;
}
#loginModal .modal-content .close span {
    position: absolute;
    top: 21px;
    right: 28px;
    color: #fff;
}
#loginModal .close {
    opacity: 1;
}
#loginModal .login-btn-group .submit-btn {
    padding-left: 45px;
    padding-right: 45px;
    height: 50px;
    width: 140px;
    font:  700 14px/50px 'Roboto', sans-serif;
    text-transform: uppercase;
    float: left;
    border-color: #fff;
    -webkit-box-shadow: 2px 0 2px rgba(118, 174, 54, .75);
            box-shadow: 2px 0 2px rgba(118, 174, 54, .75);
    outline: none;
}
#loginModal .custom-btn.btn-green {
    vertical-align: top;
    display: inline-block;
    padding-left: 36px;
    padding-right: 48px;
    height: 50px;
    width: 250px;
    background-color: #76ae36;
    font:  400 18px/50px 'Roboto', sans-serif;
    color: #fff;
    float: right;
}
#loginModal .login-btn-group {
    margin-top: 20px;
}
#loginModal .lost-password {
    font:  400 18px/50px 'Roboto', sans-serif;
    color: #fff;
    margin-top: 25px;
}

#loginModal .lost-password:hover,
#loginModal .custom-btn.btn-green
{
 text-decoration: none;
}
<<<<<<< HEAD
/*====== CUSTOM STYLE START ======*/
/*----- Main page start -----*/
 .newest-product .tags {
    margin-bottom: 60px;
}
 .newest-product .tags li{
    background-color: #fff;
    padding: 14px 21px;
    color: #263238;
    font-weight: 500;
    font-size: 14px;
}
.newest-product .tags li+li{
    margin-left: 6px;
}
.newest-product .tags li:hover {
    background-color: #e74c3c;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(202, 215, 228,0.75);
            box-shadow: 0 2px 5px rgba(202, 215, 228,0.75);
}
.newest-product .button-items{
    margin-top: 80px;
}
.newest-product .button-items a+a{
    margin-left: 12px;
}
/*--- why-choose-foxtar ---*/
.why-choose-foxtar .img-wrapper img{
    margin-bottom: 35px;
}
.why-choose-foxtar .img-wrapper img{
    width: 113px;
    height: 113px;
}
.why-choose-foxtar a{
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}
.why-choose-foxtar a:hover{
    color: #8bc34a;
    text-transform: capitalize;
}
.why-choose-foxtar p{
    margin-top: 30px;
}
/*--- become-an-author ---*/
.become-an-author .img-wrapper{
    max-width: 1100px;
    max-height: 445px;
    position: relative;
}
.become-an-author .img-wrapper-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.become-an-author .img-wrapper-content .img-content{
    padding: 80px 65px;
    background-color: #8bc34a;
}
.become-an-author .img-wrapper-content .img-content span{
    font-size: 30px;
    line-height: 1.2em;
    color: #fff;
}
.become-an-author .img-wrapper-content .img-content span>span{
    font-weight: 700;
}
.become-an-author .img-wrapper-content .img-content a{
    margin-left: 60px;
}


/*----- Main page end -----*/
/*====== CUSTOM STYLE END ======*/
=======
/*---loginModal end---*/
>>>>>>> branch_lera
/*-----pagination start------*/
.pagination-lg .page-link {
    padding: 14px 17px;
    font: 500 16px 'Roboto', sans-serif;
    line-height: 0.6;
}
.page-link {
    border: none;
    margin-left: 8px;
    color: #37474f;
    -webkit-box-shadow: 0px 2px 1px rgba(205, 214, 222,0.75);
            box-shadow: 0px 2px 1px rgba(205, 214, 222,0.75);
    font: 500 16px 'Roboto', sans-serif;
}
.page-link:hover, .page-link:focus {
    border: none;
    color: #ffffff;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: #e74c3c;
    -webkit-box-shadow: 0px 2px 1px rgba(205, 214, 222,0.75);
            box-shadow: 0px 2px 1px rgba(205, 214, 222,0.75);
}
.pagination-lg .page-item:last-child .page-link {
    border-radius:0;
}
.pagination-lg .page-item:first-child .page-link {
    border-radius:0;
}
/*-----pagination end------*/







.container{
    max-width: 1200px;
}
.default-section{
    padding-top: 125px;
    padding-bottom: 110px;
}
/*------ title start ------*/
.title{
    font-family: 'Roboto', sans-serif;
    color: #263238;
    text-transform: capitalize;
}
.title.title-white{
    color: #fff;
}
.title.section-title{
    font-size: 36px;
    line-height: 1.667em;
    font-weight: 600;
    margin-bottom: 40px;
}
.title.aside-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 3em;
}
.footer-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.09em;
    color: #fff;
    margin-bottom: 25px;
}
/*------ title end ------*/
/*------ text start ------*/
.default-text{
    font-size: 15px;
    color: #b7c3c8;
    line-height: 1.6em;
}
.item-category{
    font-weight: 400;
    font-size: 12px;
    color: #8bc34a;
    text-transform: capitalize;
}
.item-category-md{
    font-weight: 500;
    font-size: 14px;
    color: #8bc34a;
    text-transform: capitalize;
}
/*------ text end ------*/
/*------ dropdown-list(green chevron-right)------*/
.list{
    font-size: 12px;
    line-height: 3em;
    text-transform: capitalize;
}

.list li .fa{
    color: #8bc34a;
    font-size: 14px;
    margin: 10px;
}
/*====== DEFAULT CLASSES START ======*/
.bg-dark-blue{
    background-color: #263238;
}
.bg-white{
    background-color: #fff;
}
/*====== DEFAULT CLASSES END ======*/
.container{
    max-width: 1200px;
}
.default-section{
    padding-top: 125px;
    padding-bottom: 110px;
}
/*------ title start ------*/
.title{
    font-family: 'Roboto', sans-serif;
    color: #263238;
    text-transform: capitalize;
}
.title.title-white{
    color: #fff;
}
.title.section-title{
    font-size: 36px;
    line-height: 1.667em;
    font-weight: 600;
    margin-bottom: 40px;
}
.title.aside-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 3em;
}
.footer-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.09em;
    color: #fff;
    margin-bottom: 25px;
}
/*------ title end ------*/
/*------ text start ------*/
.default-text{
    font-size: 15px;
    color: #b7c3c8;
    line-height: 1.6em;
}
.item-category{
    font-weight: 400;
    font-size: 12px;
    color: #8bc34a;
    text-transform: capitalize;
}
.item-category-md{
    font-weight: 500;
    font-size: 14px;
    color: #8bc34a;
    text-transform: capitalize;
}
/*------ text end ------*/
/*====== DEFAULT CLASSES END ======*/
.bg-dark-blue{
    background-color: #263238;
}
.bg-light-grey{
    background-color: #f4f6f5;
}
/*------ carousel start ------*/

.carousel .trending-carousel .slick-slide{
    padding: 0 15px;
}
.carousel .trending-carousel .slick-slide img{
    display: inline;
}
.carousel .trending-carousel .slick-list{
    padding-bottom: 5px;
}
.carousel .trending-carousel .slick-dots{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -70px;
}
.carousel .trending-carousel .slick-dots li{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #e8e8e8;
    border: 1px solid #bcbcbc;
    border-radius: 50%;
    cursor: pointer;
}
.carousel .trending-carousel .slick-dots li button{
    display: none;
}
.carousel .trending-carousel .slick-dots li+li{
    margin-left: 7px;
}
.carousel .trending-carousel .slick-dots li.slick-active{
    background-color: #8bc34a;
    border-color: #8bc34a;
}
/*------ carousel end ------*/