/*====== RESET START ======*/
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
*:focus{
    outline: none;
}
body{
    font:  400 15px/1 'Roboto', sans-serif;
    color:#777;
    margin: 0;
    background-color: #fff;

}
h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: normal;
}
p{
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover, a:active{
    text-decoration: none;
    color: inherit;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
button, input,
textarea {
    outline: none;
    border: none;
}
button{
    padding: 0;
}
textarea{
    resize: vertical;
}
button,
input[type='submit']{
    cursor: pointer;
}
blockquote{
    margin: 0;
}
/*====== RESET END ======*/

/*====== DEFAULT COMPONENTS START ======*/
.btn-title {
    text-transform: uppercase;
    font-weight: 700;
}
.btn-section {
    padding: 40px 0;
}
.btn-custom {
    display: inline-block;
    background-color: #fff;
    color: #263238;
    padding: 20px 33px;
    font:  400 16px/1 'Roboto', sans-serif;
    -webkit-box-shadow: 0 2px 2px rgb(232,236,238), 0 0 2px rgb(232,236,238);
            box-shadow: 0 2px 2px rgb(232,236,238), 0 0 2px rgb(232,236,238);
}
.btn-custom:hover {
    background-color: #f1f1f1;
}
.btn-custom.btn-rounded {
    border-radius: 4px;
}
.btn-custom.btn-small {
    padding: 10px 21px;
    font-size: 12px;
}
.btn-custom.btn-large {
    padding: 26px 43px;
    font-size: 18px;
}
.btn-custom.btn-red {
    background-color: #e74c3c;
    color: #f4f6f5;
}
.btn-custom.btn-red:hover {
    background-color: #c84638;
}
.btn-custom.btn-blue {
    background-color: #455a64;
    color: #f4f6f5;
}
.btn-custom.btn-blue:hover {
    background-color: #324148;
}
.btn-custom.btn-green {
    background-color: #8bc34a;
    color: #f4f6f5;
}
.btn-custom.btn-green:hover {
    background-color: #6c973a;
}
/*====== DEFAULT COMPONENTS END ======*/
/*------ dropdown profile start------*/
.dropdown-account .line-toggle{
    margin-left: 15px;
}
.dropdown-account span{
    display: block;
}
.dropdown-account .user-name{
    font-weight: 500;
    font-size: 14px;
    color: #222222;
    line-height: 1.714em;
}
.dropdown-account .user-name>i{
    margin-left: 15px;
}
.dropdown .total-basket{
    font-weight: bold;
    font-size: 12px;
    color: #8bc34a;
}
/*------ dropdown-list(green chevron-right)------*/

.dropdown-list{
    font-size: 12px;
    line-height: 3em;
    text-transform: capitalize;
}
.dropdown .dropdown-menu .dropdown-item.dropdown-list{
    border-bottom: 0;
}
.dropdown-item.dropdown-list:first-child{
    padding-top: 15px;
}
.dropdown-list .fa{
    color: #8bc34a;
    font-size: 14px;
    margin: 10px;
}
.dropdown-item{
    padding: 0 30px;
}


/*------ dropdown profile end------*/

/*====== DEFAULT COMPONENTS START ======*/
/*------ dropdown start ------*/
.dropdown *{
    padding: 0;
    margin: 0;
}
.dropdown .dropdown-toggle.toggle-circle{
    position: relative;
    display: block;
    width: 35px;
    line-height: 35px;
    background-color: #f5f5f5;
    border-radius: 50%;
    color: #a0a0a0;
}
.dropdown .dropdown-toggle.toggle-circle:hover, .dropdown .dropdown-toggle:focus {
    color: #263238;
}
.dropdown .dropdown-toggle::after{
    display: none;
}

.dropdown .dropdown-toggle.toggle-circle .counter{
    position: absolute;
    top: -7px;
    right: -5px;
    width: 18px;
    line-height: 18px;
    color: #fff;
    font-family:'Open Sans', sans-serif;
    font-size: 11px;
    background-color: #e74c3c;
    border-radius: 50%;
}
.dropdown .dropdown-menu{
   margin-top: 26px;
}
.dropdown .dropdown-notifaction{
    min-width: 270px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 0;
}
.dropdown .dropdown-menu .dropdown-item{
    padding: 25px;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 0;
}
.dropdown .dropdown-menu .dropdown-item .item-content{
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.dropdown .dropdown-menu .dropdown-item .item-content span{
    display: block;
}
.dropdown .dropdown-menu .dropdown-item .item-content span + span{
    margin-top: 10px;
}
.dropdown .dropdown-menu .dropdown-item .item-content .item-title{
    font-size: 15px;
    color: #263238;
}
.dropdown .dropdown-menu .dropdown-item .item-content .item-category{
    font-weight: 400;
    font-size: 12px;
    color: #84b743;
}
.dropdown .dropdown-menu .dropdown-item .item-content .item-price{
    font-weight: 500;
    font-size: 16px;
    color: #000;
}
.dropdown .dropdown-menu .total{
    padding: 20px 20px 0;
}
.dropdown .dropdown-menu .total{
    font-size: 16px;
    color: #263238;
    line-height: 1.5em;
}

/*------ dropdown end ------*/
/*------ header start ------*/
/*--- header-top-main ---*/
header .header-top{
    padding: 25px 0;
}
header .header-top .need-help{
    margin-right: 50px;
}
header .header-top .need-help>span>span{
    color: #e74c3c;
}
header .header-top .dropdown .dropdown-toggle.dropdown-basket{
    margin-right: 25px;
}
/*--- header-top-all-pages ---*/
header .header-top .header-top-dropdowns li{
    display: inline-block;
    margin-right: 15px;
}
header .header-top .header-top-dropdowns li:last-child{
    margin-right: 0;
}


/*--- header-bottom ---*/
header .header-bottom .header-bottom-nav ul{
    font-weight: 500;
    font-size: 14px;
    line-height: 2.14em;
    color: #fff;
    padding: 15px 0;
    text-transform: capitalize;
}
header .header-bottom .header-bottom-nav ul li{
    display: inline-block;
    margin-right: 35px;
}
header .header-bottom .header-bottom-nav ul li:last-child{
    margin-right:0;
}

/*------ header end ------*/

/*====== DEFAULT COMPONENTS END ======*/


.default-section{
    padding-top: 125px;
    padding-bottom: 110px;
}
/*------ title start ------*/
.title{
    font-family: 'Roboto', sans-serif;
    color: #263238;
    text-transform: capitalize;
}
.title.title-white{
    color: #fff;
}
.title.section-title{
    font-size: 36px;
    line-height: 1.667em;
    font-weight: 400;
    margin-bottom: 40px;
}
.title.title-green{
    font-weight: 400;
    font-size: 12px;
    line-height: 5em;
    color: #8bc34a;
}
.title.title-green-md{
    font-weight: 400;
    font-size: 14px;
    line-height: 4.286em;
    color: #8bc34a;
}
.title.aside-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 3em;
}
.footer-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.09em;
    color: #fff;
    margin-bottom: 25px;
}
/*------ title end ------*/
/*====== DEFAULT CLASSES END ======*/
.bg-dark-blue{
    background-color: #263238;
}
.bg-light-grey{
    background-color: #f4f6f5;
}