/*----- Product details page start -----*/
.mobile-aside-toggle.product{
    border: 1px solid #919191;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    color: #919191;
    background-color: inherit;
    font-size: 20px;
    margin-right: 15px;
}
.gt-builder-img {
    padding: 18px;
    border: 1px solid #dedede;
    margin-bottom: 40px;
}
.gt-builder-img img{
    width: 100%;
}
.gt-builder-content{
    margin-bottom: 50px;
}
.gt-builder-content .title{
    display: block;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
}
.gt-builder-content .gt-builder-text{
    color: #707070;
    font-size: 16px;
    line-height: 1.5em;
}
.gt-builder-btn-social{
    margin-bottom: 55px;
}
.gt-builder-btn-social .gt-builder-btn a+a{
    margin-left: 15px;
}
.gt-builder-btn-social .gt-builder-social li+li{
    margin-left: 3px;
}

/*--- more-product---*/
.more-product{
    margin-top: 50px;
    padding-bottom: 100px;
}
.more-product .title{
    font-size: 18px;
    font-weight: 500;
    display: block;
    border: 1px solid #dedede;
    padding: 22px 25px;
}
.more-product .card-item-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.more-product .row{
    margin-top: 13px;
}
/*--- product price---*/
.product-price .dropdown-menu.show{
    margin-top: 0;
    width: 90px;
}
.product-price .regular.dropdown-toggle{
    border: 1px solid #dedede;
}
.product-price .regular.dropdown-toggle,
.product-price .dropdown-menu .dropdown-item{
    font-size: 13px;
    padding: 8px 9px;
    background-color: #fff;
}
.product-price .regular.dropdown-toggle span{
    padding-left: 7px;
    color: #8bc34a;
}
.product-price .price-regular>span{
    font-weight: 500;
    font-size: 22px;
    color: #e74c3c;
}
.product-price .price-regular{
    margin-bottom: 25px;
}
.product-price .product-price-btn-group a+a{
    margin-top: 10px;
}
.product-author .author-card{
    padding: 25px 0;
    text-transform: capitalize;
}
.product-author .author-card img{
    height: 63px;
    width: 73px;
}
.product-author .name-view{
    margin-left: 14px;
}
.product-author .name-view span{
    font-size: 18px;
    color: #263238;
}
.product-author .name-view a{
    color: #707070;
    font-size: 13px;
    border: 1px solid #dedede;
    padding: 8px 15px;
}
.aside-section.sales{
    padding-top: 22px;
    padding-bottom: 23px;
}
.sales i{
    color: #a6b5bb;
    font-size: 20px;
    margin-right: 20px;
}
.sales>span{
    color: #707070;
    font-size: 16px;
}
.sales>span>span{
    color: #263238;
    font-weight: 700;
    font-size: 20px;
    margin-right: 15px;
}
.product-info .info-table{
    font-size: 14px;
    text-transform: capitalize;
    line-height: 2.57em;
    color: #70838d;
    font-weight: 400;

}
.product-info .info-table span{
    color: #263238;
    font-weight: 700;
}
/*----- Product details end -----*/
@media (max-width: 767px){
    .gt-builder-content .title{
        font-size: 25px;
        margin-bottom: 20px;
        text-align: center;
    }
    .mobile-aside-toggle{
        margin: 15px 0;
    }
    .gt-builder-btn-social{
        flex-direction: column;
    }
    .gt-builder-btn-social .gt-builder-btn a+a{
        margin-left: 0;
        margin-top: 20px;
    }
    .gt-builder-btn-social .gt-builder-btn a{
        width: 100%;
    }
    .gt-builder-btn-social .gt-builder-social{
         margin-top: 20px;
         align-self: center;
    }
    .gt-builder-btn-social .gt-builder-social li+li{
        margin-left: 15px;
    }
    .nav.nav-tabs{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .product-page .tab-pane ul{
        width: 100%;
    }
    .tab-content .tab-pane.active {
        padding: 25px 35px 55px 35px;
        display: flex;
        flex-direction: column;
    }
    .tab-content ul + ul {
        margin-left: 0;
    }
    .more-product{
        padding-bottom: 50px;
    }
}