
.ui-widget.ui-widget-content {
    height: 5px;
    border: none;
    background-color: #f2f5f8;
    border-radius: 5px;
    margin-bottom: 62px;
}
.ui-slider .ui-slider-range {
    background-color: #37474f;
}
.ui-slider .min-value,
.ui-slider .max-value{
    position: absolute;
    top: 28px;
    color: #78909c;
    font-size: 15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}
.ui-slider .ui-state-default.ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #8bc34a;
    background-color: #fff;
}
.sort-controls {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    margin-bottom: 30px;
}
.sort-controls button {
    background-color: #fff;
}
.sort-controls .fa {
    background-color: #fff;
    font-size: 16px;
}
.sort-controls .dropdown-account .line-toggle {
    margin-left: 0;
}
.actives {
    color: #8bc34a;
}
.all-products-wrapper {
    position: relative;
    padding-bottom: 110px;
}
.all-products-wrapper .form-search {
    padding: 60px 0 70px 0;
    background-color: #f4f6f5;
}
.all-products-wrapper .list-group li span {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    color: #90a4ae;
}
.all-items-container {
    margin-bottom: 65px;
}
.all-products-wrapper .list-group a:hover {
    color:#90a4ae;
}
.all-products-wrapper .form-search .input-group .form-control {
    font:  500 14px/1 'Roboto', sans-serif;
    color: #90a4ae;
}
.btn-custom.btn-green-aside {
    font-size: 15px;
    padding: 15px 0;
}
/*---sort-dropdown start---*/
.sort-dropdown .dropdown .dropdown-menu {
    min-width: 120px;
    box-shadow: 0 1px 3px rgba(0,0,0, 0.2);
}
.sort-dropdown ul.dropdown-menu.list {
    margin-top: -5px;
    border:none;
}
.sort-dropdown .dropdown .dropdown-menu.list {
    line-height: 1.8em;
    padding: 10px 0 0 20px;
    border: none;
}
.sort-dropdown .dropdown .dropdown-menu .dropdown-item {
    padding: 5px;
    border-bottom: none;
    border-radius: 0;
}
/*---sort-dropdown end---*/


