
.ui-widget.ui-widget-content {
    height: 5px;
    border: none;
    background-color: #f2f5f8;
    border-radius: 5px;
    margin-bottom: 62px;
}

.ui-slider .ui-slider-range {
    background-color: #37474f;
}

.ui-slider .min-value,
.ui-slider .max-value{
    position: absolute;
    top: 28px;
    color: #78909c;
    font-size: 15px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.ui-slider .ui-state-default.ui-slider-handle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid #8bc34a;
    background-color: #fff;
}
.price-range span {
    padding-left: 10px;
}
.sort-controls {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    margin-bottom: 30px;
}
.sort-controls button {
    background-color: #fff;
}
.sort-controls span {
    margin-left: 10px;
}
.sort-controls .fa {
    background-color: #fff;
    margin-left: 10px;
    font-size: 16px;
}
.sort-controls button:active  {
    color: #8bc34a;
}
.all-products-wrapper {
    position: relative;
}
.sort-dropdown ul.dropdown-menu.list {
    margin-top: 20px;
    border:none;
}
.sort-dropdown .dropdown .dropdown-menu.list {
    margin-left: 20px;
    line-height: 2.2em;
    padding: 10px 0 10px 20px;
}



