/*------ settings_personal-info start------*/
.form-personal-information {
    margin-bottom: 152px;
}
@media (max-width: 991px) {
    .form-personal-information  {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
}
@media (max-width: 1210px) {
    .form-personal-information .form-group .col-sm-8{
        max-width: 100%;
    }
}
@media (max-width: 576px) {
    .form-personal-information .content-wrapper-body{
        padding: 20px;
    }
}
.form-personal-information .personal-information-nav{
    max-width: 270px;
}
.personal-information-nav {
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    background-color: #fff;
}

.personal-information-nav li {
    font-size: 14px;
    color: #707070;
    font-weight: 400;
    position: relative;
}
.personal-information-nav li a{
    display: block;
    border-bottom: 1px solid #dedede;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
    padding-left: 50px;
    padding-right: 5px;
}
.personal-information-nav li:first-child a{
    border-top: 1px solid #dedede;
}
.personal-information-nav li a:before {
    content: "\f054";
    font: normal normal normal 9px/1 FontAwesome;
    color: #707070;
    position: absolute;
    left: 22px;
    top: 20px;
}
.personal-information-nav li a:hover,
.personal-information-nav li.active a{
    border-bottom: 3px solid #8bc34a;
    color: #37474f;
    padding-bottom: 15.5px;
}
.personal-information-nav li a:hover:before,
.personal-information-nav li.active a:before{
    content: "\f054";
    font: normal normal normal 9px/1 FontAwesome;
    color: #8bc34a;
    position: absolute;
    left: 22px;
    top: 20px;
}
.form-personal-information .btn-custom {
    padding: 15px 30px;
}
.form-personal-information .jq-selectbox__select {
    color: #707070;
    width: 100%;
    padding: 0 40px 0 15px;
}
@media (max-width: 524px) {
    .personal-information-nav li a {
        padding-left: 20px;
    }
    .personal-information-nav li a:before {
        left: 10px;
    }
    .personal-information-nav li a:hover:before,
    .personal-information-nav li.active a:before{
        left: 10px;
    }
}
/*------ settings_personal-info end------*/