
/*-----aside start-----*/
.aside-section {
    background-color: #ffffff;
    border: 1px solid #dedede;
    padding: 27px 27px 30px 27px;
    margin-bottom: 30px;
}
.aside-section .aside-section-title {
    border-bottom: 1px solid #dde3e8;
    font: 700 20px 'Roboto', sans-serif;
    color: #263238;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.aside-section .aside-section-title span {
    display: inline-block;
    padding-bottom: 20px;
}
/*-----aside start-----*/
