.btn-title {
    text-transform: uppercase;
    font-weight: 700;
}
.btn-section {
    padding: 40px 0;
}
.btn-custom {
    display: inline-block;
    background-color: #fff;
    color: #263238;
    padding: 17px 28px;
    font:  400 16px/1 'Roboto', sans-serif;
    -webkit-box-shadow: 0 2px 2px rgb(232,236,238), 0 0 2px rgb(232,236,238);
            box-shadow: 0 2px 2px rgb(232,236,238), 0 0 2px rgb(232,236,238);
    text-align:center;
}
.btn-custom:hover {
    background-color: #f1f1f1;
}
/*.btn-custom .fa {*/
    /*margin-right: 10px;*/
/*}*/
.btn-custom.btn-rounded {
    border-radius: 4px;
}
.btn-custom.btn-small {
    padding: 10px 21px;
    font-size: 12px;
}
.btn-custom.btn-medium {
    padding: 12px;
    font-size: 14px;
}
.btn-custom.btn-large {
    padding: 26px 43px;
    font-size: 18px;
}
.btn-custom.btn-social {
    margin-right: 0;
    padding: 16px;
    font-size: 18px;
    color: #fff;
}
.btn-custom.btn-red {
    background-color: #e74c3c;
    color: #f4f6f5;
}
.btn-custom.btn-red:hover {
    background-color: #c84638;
}
.btn-custom.btn-blue {
    background-color: #455a64;
    color: #f4f6f5;
}
.btn-custom.btn-blue:hover {
    background-color: #324148;
}
.btn-custom.btn-green {
    background-color: #8bc34a;
    color: #f4f6f5;
}
.btn-custom.btn-green:hover {
    background-color: #6c973a;
}
.btn-custom.btn-light-blue {
    background-color: #42a5f5;
    color: #f4f6f5;
}
.btn-custom.btn-light-blue:hover {
    background-color: #307ab5;
}
.btn-custom.btn-blue-violet {
    background-color: #6370b6;
}
.btn-custom.btn-malibu {
    background-color: #64b5f6;
}
.btn-custom.btn-indigo {
    background-color: #4f71ce;
}
.btn-custom.btn-persian-red {
    background-color: #d32f2f;
}