/*-----categories-list start-----*/
.list-group-item, .list-group-item span {
    font: 400 15px 'Roboto', sans-serif;
}
.list-group-item {
    padding: 0;
    margin-bottom: 30px;
    border: none;
    color: #263238;
}
.list-group-item span {
    color:#90a4ae;
}
.list-group li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
}
.list-group li:before {
    content: "\f105";
    left: 0;
    position: absolute;
    top: 0;
    font-size: 14px;
    color: #8bc34a;
    font-family: FontAwesome;
}
