/*------ form-search start ------*/
.form-search {
    background-color: #b1b2af;
    background-image: url('../img/form-search.jpg');
    background-repeat: repeat;
    background-position: 50% 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 70px;
}
.input-group {
    margin: 0 auto;
}
.form-search-input {
    max-width: 671px;
    width: 100%;
    margin: auto;
}
.form-search .title.title-welcome {
    line-height: 1em;
    margin-bottom: 35px;
    font-size: 48px;
}
.form-search .title.title-premium {
    font-size: 20px;
    font-weight: 400;
    line-height: 1em;
}

.form-search span {
    display: block;
}
.form-search .form-control{
     width: 100%;
     height: 56px;
     line-height: 56px;
     font:  500 14px/1 'Roboto', sans-serif;
     letter-spacing: .05em;
     color: #90a4ae;
     border-radius: 4px;
     border: none;
     -webkit-box-shadow: 0 0 10px rgba(100, 100, 100, .75);
     box-shadow: 0 0 10px rgba(100, 100, 100, .75);
 }
.form-search-input{
    max-width: 671px;
    width: 100%;
}
.form-search input.form-control {
    font:  400 14px/1 'Roboto', sans-serif;
    color: #90a4ae;
}
.form-search::-webkit-input-placeholder {color:#90a4ae;}
.form-search::-moz-placeholder          {color:#90a4ae;}/* Firefox 19+ */
.form-search:-moz-placeholder           {color:#90a4ae;}/* Firefox 18- */
.form-search:-ms-input-placeholder      {color:#90a4ae;}

.form-search .form-control:focus,
.form-search button:active{
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}
.form-search button {
    height: 54px;
    width: 54px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 3;
}
.form-search .btn-default:active,
.form-search .btn-default:hover,
.form-search .btn-default:focus{
    background: none;
    outline: none;
}
.form-search button:before {
    content: "\f002";
    color: #90a4ae;
    font-size: 20px;
}
@media (max-width: 767px){
    .form-search .title.title-premium{
        text-align: center;
        font-size: 18px;
        line-height: 1.3em;
    }
}
@media (max-width: 576px){
    .form-search .title.title-welcome{
        text-align: center;
        font-size: 35px;
    }
    .form-search.form-search-main .title.title-premium{
        text-align: center;
        font-size: 18px;
        line-height: 1.3em;
    }
}
/*------ form-search end ------*/
/*------ form-personal-information start ------*/
.jq-selectbox {
    width: 100%;
}
.jq-selectbox__select {
    height: 40px;
    width: 540px;
    background: #f9f9f9;
    border-color: #dedede;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 40px 0 15px;
    line-height: 40px;
}

.jq-selectbox__select:hover {
    background: #f9f9f9;
}

.jq-selectbox__trigger {
    border-left: none;
    width: 40px;
}

.jq-selectbox__trigger-arrow {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-top-color: #000;
}
.form-personal-information .form-group .col-sm-8 {
    max-width: 540px;
    height: 40px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding: 0px;
}
.form-personal-information .col-sm-4 .col-form-label {
    max-width: 255px;
    height: 40px;
}
.form-personal-information .content-wrapper-body .form-group.row {
    margin: 0;
    margin-bottom: 20px ;
}
.form-personal-information .content-wrapper-title {
    border-bottom: 1px solid #d7d7d7;
}
.form-personal-information .content-wrapper-title h6  {
    line-height: 63px;
    padding-left: 35px;
    font-size: 24px;
    color: #263238;
}
.form-personal-information .content-wrapper-bordered {
    background-color: white;
    border: 1px solid #dedede;
}
.form-personal-information .content-wrapper-body {
    padding: 35px;
    padding-bottom: 79px;
}
.form-personal-information .form-group .col-form-label {
    color: #444;
    font:  400 15px/1 'Roboto', sans-serif;
    line-height: 40px;
    width: 255px;
    padding: 0;
}
@media (min-width: 576px){
    .form-personal-information .col-form-label.col-sm-4 {
        -webkit-box-flex: 0;
            -ms-flex: none;
                flex: none;
    }}
.form-personal-information .form-group .form-control {
    border-radius: 0;
    border-color: #dedede;
    height: 40px;
    width: 540px;
    background-color: #f9f9f9;
}
.form-group .form-control:focus{

    border-color: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.form-personal-information .form-group select{
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.form-group .jq-selectbox.focused .jq-selectbox__select {
    border-radius: 0;
    border-color: inherit;
}
/*------ form-personal-information end ------*/
