.form-search {
    padding: 69px 0;
}
.input-group {
    margin: 0 auto;
}
.form-search .form-control{
    width: 671px;
    height: 56px;
    line-height: 56px;
    font:  400 14px/1 'Roboto', sans-serif;
    letter-spacing: .05em;
    color: #90a4ae;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 10px rgba(100, 100, 100, .75);
}
.form-search .form-control:focus,
.form-search button:active{
    box-shadow: none;
    outline: none;
}
.form-search button {
    height: 54px;
    width: 54px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 3;
}
.form-search .btn-default:active,
.form-search .btn-default:hover,
.form-search .btn-default:focus{
    background: none;
    outline: none;
}
.form-search button:before {
    content: "\f002";
    font-family: FontAwesome;
    color: #90a4ae;
    font-size: 20px;
}
.jq-selectbox {
    width: 100%;
}
.jq-selectbox__select {
    height: 40px;
    background: #f9f9f9;
    border-color: #dedede;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 40px 0 15px;
    line-height: 40px;
}

.jq-selectbox__select:hover {
    background: #f9f9f9;
}

.jq-selectbox__trigger {
    border-left: none;
    width: 40px;
}

.jq-selectbox__trigger-arrow {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-top-color: #000;
}
.form-group .col-form-label {
    color: #444;
    font:  400 15px/1 'Roboto', sans-serif;
    line-height: 31px;
}
.form-group .form-control {
    border-radius: 0;
    border-color: #dedede;
    height: 40px;
    background-color: #f9f9f9;
}

.form-group .form-control:focus{
    border-color: inherit;
    box-shadow: none;
}
.form-group select{
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
.form-group .jq-selectbox.focused .jq-selectbox__select {
    border-radius: 0;
    border-color: inherit;
}


