/*====== CUSTOM STYLE START ======*/
/*----- Main page start -----*/
 .newest-product .tags {
    margin-bottom: 60px;
}
 .newest-product .tags li{
    background-color: #fff;
    padding: 14px 21px;
    color: #263238;
    font-weight: 500;
    font-size: 14px;
}
.newest-product .tags li+li{
    margin-left: 6px;
}
.newest-product .tags li:hover {
    background-color: #e74c3c;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(202, 215, 228,0.75);
            box-shadow: 0 2px 5px rgba(202, 215, 228,0.75);
}
.newest-product .button-items{
    margin-top: 80px;
}
.newest-product .button-items a+a{
    margin-left: 12px;
}
/*--- why-choose-foxtar---*/
.why-choose-foxtar .img-wrapper{
    width: 113px;
    height: 113px;
    border-radius: 50%;
    margin-bottom: 35px;
}
.why-choose-foxtar a{
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}
.why-choose-foxtar a:hover{
    color: #8bc34a;
    text-transform: capitalize;
}
.why-choose-foxtar p{
    margin-top: 30px;
}

/*----- Main page end -----*/
/*====== CUSTOM STYLE END ======*/